body
{
	font-family: "Libre Baskerville", Baskerville, Georgia, serif;
	color: #111;
	line-height: 1.3em;
	background: #FBFBFB;
	font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 25px;
    max-width: 1400px;
}

strong
{
	color: red;
}

header
{
	line-height: 2.475em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #bbb;
    margin-bottom: 1.2em;
}

p
{
	margin-top: 10px;
    margin-bottom: 18px;
}

p code
{
	background-color: #f0f0f0;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 2px;
}

pre
{
	background-color: #f0f0f0;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 15px;
}

table
{
    text-align: left;
    border-collapse: collapse;
}

td, th
{
    border: 1px solid gray;
}
